html, 
body
{
    height: 100%;
    font-family: Material,sans-serif !important;
}

.map {
/*margin-top: 60px;*/
 min-height: 100%;
 width: 100%; 
}

.searchBar {
  width: 200px;
  background-color: white;
}

.searchBar .mdl-textfield {
  width: 80%;  
}

.infoWindow {
  position: absolute;
  top: 10px; 
  left: 10px;
  opacity: .8; 
}

.resultsList {
 width: 200px;
 height: 50%;
 background-color: white;
 list-style:none;
 padding-left:0;
 overflow-y:scroll;
}

/*Cards*/

.card-wide.mdl-card {
  width: 100%;
}
.card-wide > .mdl-card__title {
  color: #fff;
  height: 125px;
}
.card-wide > .mdl-card__menu {
  color: #fff;
}

.result {
  margin: 15px;
  list-style-type:none;
}
.resultTitle {
  color: blue; 
  font-weight: 600;
}
.listData {
 font-weight: 100;
 font-size: 12px; 
}

.swanson {
  position: absolute;
  bottom: 5px;
  right: 5px;
  display : none;
  
}
@media (max-width: 500px){
  .swanson {
  display : block;  
}
  
}

.resultsCards {
 width: 200px;
 height: 50%;
 max-height: 400px;
 background-color: white;
 list-style:none;
 padding-left:0;
}