html, body
{
    height: 100%;
    font-family: Material,sans-serif !important;
}

#map {
/*margin-top: 60px;*/
 min-height: 100%;
 width: 100%; 
}

#floating {
  position: absolute;
  top: 50%; 
  left: 50%;
  
}

#searchBar {
  width: 200px;
  background-color: white;
}

#searchBar .mdl-textfield {
  width: 80%;  
}

#informationWindow {
  position: absolute;
  top: 10px; 
  left: 10px;
  opacity: .8; 
}

#resultsCards {
 width: 200px;
 height: 50%;
 max-height: 400px;
 background-color: white;
 list-style:none;
 padding-left:0;
 overflow-y:scroll ;
}


/*Cards*/

.card-wide.mdl-card {
  width: 100%;
}
.card-wide > .mdl-card__title {
  color: #fff;
  height: 125px;
}
.card-wide > .mdl-card__menu {
  color: #fff;
}

.result {
  margin: 15px;
  list-style-type:none;
}
.resultTitle {
  color: blue; 
  font-weight: 600;
}
.listData {
 font-weight: 100;
 font-size: 12px; 
}
